h1{
	display: block;
	margin-top: 30px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;	
	font-size: 280px;
	text-align: center;
	margin-left: 0px;
	color: #fff;
}

.TopBorder{

	background-color: #585c5d;
	z-index: -1;
	height: 34px;
	position: relative;

}

.Downfooter{

	height: 20px;
	background-image: url("img/linedown.png");
    background-color: #585c5d;
    position: fixed;
    z-index: 70;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 0.9em;
    padding: 8px 0 8px 0;

}

.lineUp{

	
	height: 60px;
	width: 100%;
	margin-top: -50px;
	z-index: -1;
	position: fixed;
	margin-left: -70px;

}

.lineDown{

	height: 60px;
	width: 100%;
	margin-top: 90px;
	z-index: -1;
	position: fixed;
	margin-left: -70px;
}

.content{

	display: block;
}



